#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Build output
build/

*.wasm


# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

#Ignore pandoc
pandoc.exe

# Git and IDE
.vscode/
.DS_Store
Thumbs.db

# Logs and databases
*.log
*.sql
database.db

# Windows resource files 
cli/resource.syso
fastcgi/resource.syso
mcp/resource.syso
server/resource.syso
testesuite/resource.syso
service/resource.syso

#setup for inno
setup/


# Go workspace file
go.work
go.work.sum

# env file
.env

#innosetup
*.iss

# Editor/IDE
.vscode/

#temp
temp/

#www
www/temp/
www/manual/search-index/
axonvm/temp
axonvm/www
wasm/axonasp.wasm

#G3Search
*.seg
*.snp
*.compiled